/AdminLogin.class
/AdminRegister.class
/CheckDomain.class
/CheckUser.class
/ConnectionBean.class
/CustLogin.class
/CustRegister.class
/CustomerLogin.class
/DomainFeedback.class
/DomainReg.class
/FirstServlet.class
/LoginCheck.class
/SaveServiceDetails.class
/StoreDomainFee.class
/UpdateServiceDetails.class
